In [1]:
import pandas as pd

In [37]:

df1 =  pd.DataFrame({'item1ID':["foo", "bar","baz"],
                    'value1':[5,6,7]})

df2 = pd.DataFrame({'item2ID':["foo", "bar","baz", "foo"],
                    'value2':[1,2,3,4]})

In [42]:
ddf = df1[['item1ID','item1ID']]
ddf.columns

Index(['item1ID', 'item1ID'], dtype='object')

In [39]:
df2

  item2ID  value2
0     foo       1
1     bar       2
2     baz       3
3     foo       4

In [40]:
df1.join(df2)

  item1ID  value1 item2ID  value2
0     foo       5     foo       1
1     bar       6     bar       2
2     baz       7     baz       3

In [19]:
pd.merge(df1, df2, left_on='value2',right_on='value1', how='left')

KeyError: 'value1'

In [5]:
pd.merge(df1, df2, on=['HPI','Int_rate'])

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55